.login_page {
  background-image: url("https://wallpaperaccess.com/full/1586344.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.designs {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  width: 100vw;
  justify-content: center;
}

.designs_area {
  padding: 20px;
  margin-top: 20px;
  max-height: 80vh;
  min-height: 80vh;
  overflow: auto;
}
img {
  height: 100%;
  width: 100%;
}

.main_heading {
  color: rgb(80, 77, 77);
  padding: 10px;
  height: 4vh;
  border-radius: 15px;
  box-shadow: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card {
  position: relative;
}

#card :hover {
  background-color: white;
}
.card_content :hover {
  box-shadow: "none" !important;
}

.stack {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stack button:first-child:hover {
  background-color: #1976d2 !important;
  color: white;
}
